html{
	 position: relative; 
    min-height: 100%;
}

body{
	margin: 0 0 65px;	
}


#NAV{
	/* min-height: 140px; */
	background: #4cb050;
	width: 100%;
	box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 3px rgba(0,0,0,0.23);
}

.navbar{
	border-radius: 0px;
}

.columna{
	position: relative;
	height:50px;
}




.logo{
	/* margin-top: 30px; */
	/* position: absolute; */	
	float: left;
	width: 50px;
	height: 50px;
	right: 135px;

}

.user{
	margin-right: 5px;
}

.fa-lock{
	font-size: 18px;
}

#nueva,#actual,#repite{
	border-left: none!important;
	border-radius: 0;
}

.input-group-addon{
	border-radius: 0;
	background: white;
}

.navbar-brand{
	font-size: 30px;
	/* margin-top: 30px; */
	color: white;
	/* position: absolute; */
	/* right: 0; */
	text-shadow:2px 2px 2px gray;
	
}

.panel-default>.panel-heading {
    color: #333;
    background-color: #ffffff;
    border-color: #fff;
}

.panel-title{
	color: #20612b;
	font-size: 24px;

}

.name-user-login{
	color: #fff;
}

.icon-nav{
	color: #fff;
}


.nav>li{
	height: 60px;
}
.nav>li a{
	line-height: 30px;
	height: 60px;
}

.nav>li a:hover,.nav>li a:visited  {
     background: #276b2b;
     color: #fff;
}

.form-control{
	height: 40px;
	border-radius: 0px;
}


.btn-plataforma, .btn-plataforma:hover, .btn-plataforma:active, .btn-plataforma:visited, .btn-plataforma:link{
	background: #4cb050;
	color: #fff;
}

.navbar-brand{
	color: #fff;
}

.card-4 {
box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}


.footer{

	width: 100%;
    bottom: 0;
    position: absolute;
    height: 70px;
    line-height: 70px;
    overflow: hidden;
	background: #1c5e20;
	text-align: center;
}


.footer p{
	color: #fff;
}

.footer p a{
	text-transform: uppercase;
	text-decoration: none;
	cursor: pointer;
	color: #fff;
}

i > span{
	font-size: 1.2em!important;
	margin-left: 5px;
}
