html{
	 position: relative; 
    min-height: 100%;
}

body{
	margin: 0 0 65px;	
}


#NAV{
	/* min-height: 140px; */
	background: #4cb050;
	width: 100%;
	box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 3px rgba(0,0,0,0.23);
}

.navbar{
	border-radius: 0px;
}


.navbar-header{
	height: 60px;
}
.navbar-brand{
	font-size: 30px;
	/* margin-top: 30px; */
	color: white;
	/* position: absolute; */
	/* right: 0; */
	text-shadow:2px 2px 2px gray;
	
}

.columna{
	/* position: relative; */
	height:50px;
}

.logo{
	/* margin-top: 30px; */
	/* position: absolute; */	
	float: left;
	width: 50px;
	height: 50px;
	right: 135px;

}
.navbar-toggle{
	color: #fff;
	border: 1px solid #fff;
}

.user{
	margin-right: 5px;
}

.fa-lock{
	font-size: 18px;
}




.panel-default>.panel-heading {
    color: #333;
    background-color: #ffffff;
    border-color: #fff;
}

.panel-title{
	color: #20612b;
	font-size: 24px;

}

.name-user-login{
	color: #fff;
}

.icon-nav{
	color: #fff;
}

 
.nav>li{
	height: 60px;
}
.nav>li a{
	line-height: 30px;
	height: 60px;
}

.nav>li a:hover,.nav>li a:visited  {
     background: #276b2b;
     color: #fff;

}

.form-control{
	height: 40px;
	border-radius: 0px;
}


.btn-plataforma, .btn-plataforma:hover, .btn-plataforma:active, .btn-plataforma:visited, .btn-plataforma:link{
	background: #4cb050;
	color: #fff;
}

.navbar-brand{
	color: #fff;
}

.card-4 {
	box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.list-group-item-item{
	list-style: none;
}

.info-phone{
	padding-left: 20px;
}

.panel-primary{
	height: 50px;
}


.list-group-item{
	border: 0px;
	padding-top: 30px;
}


.footer{

	width: 100%;
    bottom: 0;
    position: absolute;
    height: 70px;
    line-height: 70px;
    overflow: hidden;
	background: #1c5e20;
	text-align: center;
}


.footer p{
	color: #fff;
}

.footer p a{
	text-transform: uppercase;
	text-decoration: none;
	cursor: pointer;
	color: #fff;
}

table > thead > tr{

	background:#4cb050; 
	color:white;
}



table > thead > tr > th {
	font-size: 10px!important;
	color:white;
	font-weight: bold;
	text-align: center;
}

table > tbody > tr > td {
	font-size: 10px!important;
	/* color:white; */
	/* font-weight: bold; */
	text-align: center;
}

table > tfoot > tr > td {
	font-size: 12px!important;
	/* color:white; */
	font-weight: bold;
		
}
.quitar{
	/* border:none!important;
	border-left:none!important; */
	border-left-color:white!important;
	border-bottom-color:white!important;
}

.quitar1{
	
	border-bottom-color:white!important;
}

.cuerpo{
	overflow: auto;
}

th > i,td > i{
	font-size: 15px;
	cursor: pointer;
	text-align: center;
}

th > i,td > a > i{
	font-size: 15px;
	cursor: pointer;
	text-align: center;
}

th > a > i,td > a > i{
	font-size: 15px;
	cursor: pointer;
	text-align: center;
}
.modal-dialog{
	margin-top:150px!important;
}

.calculadora1 h4{
	background-color:#4cb050;
	height:25px; 
	width: 50%;
	line-height: 25px;
	color:white;
	font-weight: bold;
	padding-left: 5px;
}

.calculadora2 h4{
	background-color:#4cb050;
	width: 50%;
	height:25px; 
	line-height: 25px;
	color:white;
	font-weight: bold;
	padding-left: 5px;
}

label > i{
	font-size: 1.5em;
	color:red;
}



@media (max-width: @screen-sm-max) { 

  .modal-dialog{
	width: auto;
	margin-top:40px!important;
}

}

/* Medium devices (desktops, 992px and up) */
@media (max-width: @screen-md-max) {

 .modal-dialog{
	width: 100%;
	margin-top:40px!important;
}

 }

/* Large devices (large desktops, 1200px and up) */
@media (max-width: @screen-lg-max) { 

 .modal-dialog{
	width: 100%;
	margin-top:40px!important;
	
}
}

i > span{
	font-size: 1.2em!important;
	margin-left: 5px;
}

.load{
	position: absolute;
	left: 45%;
	top: 20%;
	display: none;
	z-index: 1000!important;
}